In [4]:
import pandas as pd

doc = pd.read_csv('olist_customers_dataset.csv', encoding='utf-8-sig')

In [5]:
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
doc.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [7]:
doc.shape

(99441, 5)

In [8]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [9]:
doc2 = doc[['customer_id', 'customer_city', 'customer_state']]
doc2.head()

                        customer_id          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP

In [10]:
doc3 = doc2[doc2['customer_city'] == 'sao paulo']
doc3.head()

                         customer_id customer_city customer_state
2   4e7b3e00288586ebd08712fdd0374a03     sao paulo             SP
6   fd826e7cf63160e536e0908c76c3f441     sao paulo             SP
13  eabebad39a88bb6f5b52376faec28612     sao paulo             SP
18  9b8ce803689b3562defaad4613ef426f     sao paulo             SP
22  2938121a40a20953c43caa8c98787fcb     sao paulo             SP

In [11]:
doc2['customer_city'].value_counts()

sao paulo                  15540
rio de janeiro              6882
belo horizonte              2773
brasilia                    2131
curitiba                    1521
                           ...
coimbra                        1
monte alegre de sergipe        1
cabeceiras                     1
divinopolis de goias           1
caldas brandao                 1
Name: customer_city, Length: 4119, dtype: int64

In [12]:
doc3 = doc2.groupby(['customer_city']).count()
doc3

                     customer_id  customer_state
customer_city
abadia dos dourados            3               3
abadiania                      1               1
abaete                        12              12
abaetetuba                    11              11
abaiara                        2               2
...                          ...             ...
xinguara                       9               9
xique-xique                    3               3
zacarias                       2               2
ze doca                        5               5
zortea                         2               2

[4119 rows x 2 columns]

In [13]:
doc3.index

Index(['abadia dos dourados', 'abadiania', 'abaete', 'abaetetuba', 'abaiara',
       'abaira', 'abare', 'abatia', 'abdon batista', 'abelardo luz',
       ...
       'xanxere', 'xapuri', 'xavantina', 'xaxim', 'xexeu', 'xinguara',
       'xique-xique', 'zacarias', 'ze doca', 'zortea'],
      dtype='object', name='customer_city', length=4119)

In [14]:
doc3.shape

(4119, 2)

In [15]:
res = doc3.sort_values(by='customer_id', ascending=False)
res.head(1)

               customer_id  customer_state
customer_city
sao paulo            15540           15540

In [16]:
doc.set_index('customer_city').sort_index()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,a23e3f9a2b656b23b7e52075964b42cd,afddf43a03a9941624ed42c0b2c17280,38540,MG
abadia dos dourados,9e01f714a2b3b8962c222cf2b74c20dc,e1feae9083c4c2895ddf6dc80526a85d,38540,MG
abadia dos dourados,f11eb8f0b8b87510a93e3e1aa10b0ade,64ee476500a01beb94df40f97a108c50,38540,MG
abadiania,576d71ddb21b21763cfedce73b902180,8d76b559181609308fcae630ea64cd61,72940,GO
abaete,5e9e1ae42e02df93e9a591e86fd531a3,28af9604f7830ef6d1230fb575c39eb1,35620,MG
...,...,...,...,...
ze doca,1052e334b46dd1e9876946d6372a363e,c933181d09535cb6bdfb1c0160323bd9,65365,MA
ze doca,d8b3ef6f73de33ae716e94d2478cc080,9ef06526b8e57a567ed6f1dce7ab0320,65365,MA
ze doca,fc87e5c06780700952aa42998a22968f,d4798889fe74026a739ca0be9d2dccb8,65365,MA
zortea,0a466d490a3c2fcc1e7177f4809ec7dd,d5a5ceb83234eeb855268d7fce7f54ea,89633,SC
zortea,e046f992a304cc92e1b00d7fccdf1c42,09a3f87b74828b274d73ee9dfef43b68,89633,SC

In [18]:
doc3.head()

                     customer_id  customer_state
customer_city
abadia dos dourados            3               3
abadiania                      1               1
abaete                        12              12
abaetetuba                    11              11
abaiara                        2               2

In [23]:
doc3[doc3['customer_id']>=1000]

                customer_id  customer_state
customer_city
belo horizonte         2773            2773
brasilia               2131            2131
campinas               1444            1444
curitiba               1521            1521
guarulhos              1189            1189
porto alegre           1379            1379
rio de janeiro         6882            6882
salvador               1245            1245
sao paulo             15540           15540

In [24]:
doc3.isnull().sum()

customer_id       0
customer_state    0
dtype: int64